html {
  font-size: 70%;
}

body {
  background-image: url(/img/git-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6rem; 
}
body:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .8;
  z-index: -1;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #000000);
  background: linear-gradient(to right, #4f26c0, #c967bc); }

.boxed-page {
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 1024px;  
}

.container {
  text-align: center;
  max-width: 1080px; 
  padding-bottom: 20px;
}
.tam{
  max-width:200px;
  max-height:150px;
}
.title{
  text-align: center;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 

h1{
 
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2em; }

.jumbotron {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 500px; 
}
